<div class="job-container h-100 fade-line" >
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-1 fade-line">
                    <div class="comp-logo">
                        <i class="bi bi-buildings"></i>
                    </div>
                </div>

                <div class="job-data col-lg-9 fade-line">
                    <h3>{{job.title}}</h3>
                    <span>{{job.companyName}}</span>
                    <div class="my-1">
                    <div class="d-flex">
                        <div class="d-flex my-1 me-4">
                            <i class="bi bi-geo-alt me-2"></i>
                            <span>{{job.location}}</span>
                        </div>
                        <div class="d-flex my-1">
                            <i class="bi bi-clock me-2"></i>
                            <span>Posted At : {{job.postedDate | date:'MMM dd, yyyy'}}</span>
                        </div>
                    </div>
                    <div class="my-1">
                        <span><i class="bi bi-currency-dollar me-2"></i>{{ job.salary | currency:'USD':'symbol' }}</span>
                    </div>

                    <div class="row my-2">
                        <div class="workplace-type">
                            <span> {{job.workplaceType}} </span>
                        </div>
                        <div class="job-type col-lg-3">
                            <span> {{job.jobType}} </span>
                        </div>
                    </div>
                </div>
            </div>
            </div>


            <div class="my-1 fade-line">
                {{getSlicedDescription()}}
            </div>

            <div class="row my-1">
                @for(skill of job.skills; track $index){
                    <div class="skill fade-line">{{skill}}</div>
                }  
            </div>


        </div>

        <div class="col-3 d-flex flex-column justify-content-between fade-line">
            <div class="d-flex justify-content-end">
                <button class="save-job-btn" (click)="AddToSaved()" [class.saved]="isSavedFlag()">
                    <i class="bi" [class.bi-bookmark-check]="isSavedFlag()" [class.bi-bookmark]="!isSavedFlag()"></i>
                </button>
            </div>
            <div class="d-flex justify-content-end flex-column">
                <!-- Show Apply Now button if not applied -->
                <button 
                    class="apply-now-btn my-2" 
                    [routerLink]="['/seekerApp', job.id, 'personal-info']"
                    *ngIf="!isJobApplied() && !isCheckingApplied()">
                    Apply Now
                </button>
                
                <!-- Show Already Applied button if applied -->
                <button 
                    class="already-applied-btn my-2" 
                    disabled
                    *ngIf="isJobApplied() && !isCheckingApplied()">
                    <i class="bi bi-check-circle me-2"></i>
                    Already Applied
                </button>

                <!-- Show loading state -->
                <button 
                    class="apply-now-btn my-2" 
                    disabled
                    *ngIf="isCheckingApplied()">
                    <i class="bi bi-arrow-clockwise me-2"></i>
                    Checking...
                </button>

                <button class="view-dtl-btn fade-line" [routerLink]="['/jobDtl',job.id]">
                    <i class="bi bi-box-arrow-up-right me-2"></i> View Details
                </button>
            </div>
        </div>

    </div>
</div>