<div class="container">
  <div class="form-container">
    <div class="my-4 text-center">
      <span class="fs-2 fw-medium">Login to your account</span>
    </div>

    <form class="w-100" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <!-- Email -->
      <div class="full-width my-3">
        <label class="fs-5">Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="ex: user@gmail.com" />
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="valid-form">
          <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</div>
          <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format</div>
        </div>
      </div>

      <!-- Password -->
      <div class="full-width my-3">
        <label class="fs-5">Password</label>
        <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" class="form-control" placeholder="********" />
        <button type="button" class="btn btn-sm btn-light mt-1" (click)="togglePasswordVisibility()">
          {{ hidePassword ? "Show" : "Hide" }}
        </button>
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="valid-form">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
          <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</div>
        </div>
      </div>

      <!-- Remember Me -->
      <div class="my-2">
        <input type="checkbox" formControlName="rememberMe" />
        <label>Remember Me</label>
      </div>

      <!-- Submit -->
      <button class="reset-btn fs-4 my-3 w-100" type="submit" [disabled]="isLoading || loginForm.invalid">
        <span *ngIf="isLoading">Logging in...</span>
        <span *ngIf="!isLoading">Login</span>
      </button>

      <!-- Links -->
      <p class="text-center fs-5 mt-3">
        Don’t have an account?
        <a routerLink="/register" class="text-primary" style="cursor: pointer; text-decoration: underline">Register</a>
      </p>

      <p class="text-center fs-5 mt-2">
        Forgot your password?
        <a routerLink="/forget-password" class="text-primary" style="cursor: pointer; text-decoration: underline">Reset it</a>
      </p>
    </form>
  </div>
</div>
