<ng-container *ngIf="show">
  <div class="snackbar" [ngClass]="{
    'snackbar--success': type === 'success',
    'snackbar--error': type === 'error',
    'snackbar--warning': type === 'warning',
    'snackbar--info': type === 'info'
  }">
    <div class="snackbar__content">
      <ng-container *ngIf="type === 'success'">
        <i class="bi bi-check-circle snackbar__icon"></i>
      </ng-container>
      <ng-container *ngIf="type === 'error'">
        <i class="bi bi-x-circle snackbar__icon"></i>
      </ng-container>
      <ng-container *ngIf="type === 'warning'">
        <i class="bi bi-exclamation-triangle snackbar__icon"></i>
      </ng-container>
      <ng-container *ngIf="type === 'info'">
        <i class="bi bi-info-circle snackbar__icon"></i>
      </ng-container>

      <span class="snackbar__message">{{ message }}</span>

      <button class="snackbar__close" (click)="hideSnackbar()">
        <i class="bi bi-x"></i>
      </button>
    </div>
  </div>
</ng-container>