.navbar{
    background-color: white;
    padding: 10px 40px;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-brand{
   color: rgb(31, 68, 143); 
   font-weight:700;
   font-family:Arial, Helvetica, sans-serif;
   text-decoration: none;
}

.logo-icon{
    font-size: 20px;
    color: white;
    background: var(--basic-color);
    padding:5px 10px;
    border-radius: 30%;
    margin-right: 10px;
}

.LogInBtn{
    padding: 5px 15px;
    margin: 5px 10px;
    color:black;
    background-color: white;
    border: none;
}

.LogInBtn:hover{
    color:white;
    background-color: var(--basic-orange);
    border-radius: 12px;
}


.SignUpBtn{
    padding: 5px 15px;
    margin: 5px 10px;
    color:white;
    background: var(--basic-color);
    border: none;
    border-radius: 12px;
}

.SignUpBtn:hover{
    color:white;
    background: var(--basic-color-hover);
    border-radius: 12px;
}


