.container {
  padding: 20px;
  gap: 20px; 
  background-color: white; 
  margin-top: 50px; 
}

.left-section {
  flex: 2;
  display: flex;
  flex-direction: column;
} 

.right-section {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-card{
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
} 

.sidebar-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  flex-wrap: wrap; 
  gap: 20px;
}

.profile-pic {
  width: 150px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 2rem;
}

.info-details {
  flex-grow: 1;
}

.action-buttons {
  display: flex;
  gap: 10px;
  float: top;
}

.contact-info mat-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.experience-item {
  margin-bottom: 20px;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company {
  font-weight: bold;
}

.job-duties {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

.tech-tags {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.tech-chip {
  background: var(--basic-gray-hover);
  border-radius: 16px;
  padding: 5px 10px;
  font-size: 12px;
}
.tech-chip:hover {
  background-color: rgb(197, 194, 194);
}

.availability-status {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #2e7d32; 
  font-weight: bold;
}

.skills-section {
  margin-bottom: 20px;
}

.skill-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.progress-bar-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress-bar {
  height: 8px;
  background-color: #2196f3; 
  border-radius: 4px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.education-item {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.education-item h4 {
  margin: 0;
}

.education-item .info h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.education-item .info p {
  margin: 0 0 5px 0;
  font-size: 14px;
}

.education-item .info mat-icon {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 16px;
}

.education-item .year {
  font-weight: bold;
}

.mat-mdc-card-content, .mat-mdc-card-actions {
  padding: 0;
}