.emp-profile{
    margin-top: 100px;
    margin: 100px;
}

/* ------------------------- Profile Section ------------------------- */
.profile-section{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    border-radius: 15px;
    overflow: hidden;
}

.image{
    display: flex;
    justify-content: center;
    height: 30vh;
    background-color: rgb(240, 240, 240);
}

.info{
    padding: 30px;
}

.logo{
    display: flex;
    justify-content: center;
    border-radius: 50%;  
    height: fit-content; 
}

.post-new-job-btn{
    padding: 5px 20px;
    border: none;
    outline: none;
    box-shadow: none;
    background: var(--basic-color);
    color:white;
    border-radius: 10px;
    height: fit-content;
}


/* ------------------------- Info Section ------------------------- */
.info-section{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 30px;
    border-radius: 15px;
    margin-top: 30px;
}


/* ------------------------- About Section ------------------------- */
.about-section{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 30px;
    border-radius: 15px;
    margin-top: 30px;
}


.value{
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    padding: 5px 10px;
    width: fit-content;
    margin: 5px 5px;
}
.value:hover{
    background-color: rgb(218, 217, 217);
}


/* ------------------------- Social Media Section ------------------------- */
.social-media-section{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 30px;
    border-radius: 15px;
    margin-top: 30px;
}